@media print {
	* {
		font-size: xx-small;
	}

	#myDiv {
		background-color: aqua;
		position: relative;
		top: 10px;
		left: 10px;
		width: 50vw;
	}

	.div {
		border: 2px black solid;
	}

	.pp {
		font-weight: bold;
	}

	span {
		padding: 2vw;
	}

	header {
		margin: 10px;
	}
}
